.suggestedPages {
    border-radius: 12px;
    background: #202836;
    height: fit-content
}

.suggestedPageMainDiv {
    border-bottom: 1px solid #111;
    opacity: 0.5
}

.suggestedFriendsMainDiv {
    background: #202836;
    height: fit-content;
    width: 80%;
    border-radius: 12px;
    overflow: hidden
}

.suggestedPageHeaderText {
    border-bottom: 1px solid #111;
    opacity: 0.5
}