.jobs-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  flex: 1;
  height: 90vh;
  color: #d1cdcd;
  background-color: #283143;
}

.job-posts-details {
  flex: 3;
  overflow-y: auto;
  max-height: 85vh;
}

.job-component {
  flex: 1.2;
  overflow-y: auto;
  max-height: 85vh;
}

/* SCROLLBAR */
.scrollBar::-webkit-scrollbar {
  background: #5596e6;
  width: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background-color: #c1bebe;
}

/* JOB APPLICATION FORM */

.jobForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.jobFormDivSm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jobFormLilDiv {
  display: flex;
  align-items: center;
  gap: 2%;
}

.jobFormInputDiv1 {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.jobFormLabel {
  font-size: 12px;
}

.jobFormInputDiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

/* */
.applicationSuccess {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.companyProfileButton {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 6rem;
  background-color: var(--primaryColor);
  color: #fff;
  transition: all ease-in-out 0.3s;
  font-size: 14px;
  margin-top: 0.5rem;
}
.companyProfileButton:hover {
  background-color: var(--white);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  transition: all ease-in-out 0.5s;
}
