.icons {
    font-size: 20px;
    color: #fff
}

.topNavMainDiv {
    height: 10vh;
    z-index: 99;
    position: sticky;
    top: 0;
    padding: 0.5rem 2rem;
}

.topNavSearchDiv {
    width: 40%;
}

.topNavSearchInput {
    border-radius: 16px;
    background: #283143;
    border: 1px solid #111
}

.topNavImageOnlineStatus {
    position: absolute;
    right: 0;
    top: 0;
    height: 10px;
    width: 10px;
    background: #00ff00;
    border-radius: 50%
}