.blogContentMainDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    /* padding: 0 1rem 0 1rem; */
}

.blogUserImage {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.blogUserPostImage {
    width: 70%;
    height: 150px;
    object-fit: cover;
    align-self: center;
}

.blogTextPreview {
    font-size: 13px;
    line-height: 25px;
}

.blogTextPreviewDiv {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 999;
}

.blogNameTimePreview {
    display: flex;
    justify-content: space-between;
}

.blogUserPostImageDiv {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: 10px;
    z-index: 5;
    display: flex;
    justify-content: center;
    backdrop-filter: saturate(200%) blur(10px);
}
